/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
  font-family: "Inter", sans-serif;
}

.banner-img{
  background-image: url("images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 1400px;
  margin:0 auto;
  background-color: rgba(0,0,0, 0.4);
  /* text-align: center;
  align-items: center; */
  background-blend-mode: overlay;
}
.banner-img div{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.main-section{
  height: 815px;
  width: 815px;
  /* border: 2px solid red; */
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-section-text h1{
  color: red;
  font-size: 80px;
  font-weight: bold;
}
.main-section-text p{
  color: red;
  font-size: 20px;
  font: weight 400px;;
}
.main-section-text h2{
  color: red;
  font-size: 38px;
  font-weight: bold;
}
*{
  margin: 5px;
  padding: 3px;
}
.hero-section{
  height: 610px;
  width: 1400px;
  border: 1px solid blue;
  margin: 0 auto;
  background-image: url(images/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0, 0.3);
  background-blend-mode: overlay;
  margin-bottom: 15px;
  
}
.hero-content{
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}
.hero-text h1{
  color: white;
  font-size: 54px;
}
.hero-text p{
  color: white;
  font-size: 18px;
}

/* JOin Now section */
.join-now-section{
  align-items: center;
}
.join-now-div{
  width: 550px;
  height: 270px;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
/* share color */
.orange{
  color:#FF0000;
}
.btn-orange , button{
  background-color: #FF0000;
  color: white;
  font-size: 20px;
  padding: 8px;
  border: none;
  border-radius: 10px;
}
.join-now-div p{
  font-size: 22px;
  line-height: 34px;
  margin: 20px 0;
}

/* Comming soon seciton */
.comming-soon{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid yellowgreen; */
  align-items: center;
}

.comming-soon-div{
  /* border: 2px solid red; */
  width: 27%;
}
.middle-img{
  text-align: center;
}












/* Footer section */
.footer-section{
  /* border: 2px solid red; */
  display: flex;
  height: 480px;
  justify-content: space-between;
  background-color: rgba(0,0,0, 0.9);
  color: white;

  
}
.footer-col{
  width: 26%;
  /* border: 2px solid greenyellow; */
}
.footer-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 460px;
}